.menuitem-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  @media only screen and (min-width: 1100px) {
    height: calc(100vh - 72px);
  }

  background-color: #FFF;

  &--active {
    background-color: #efdbc4;

    animation: fadeInBG 2s forwards;

    animation-fill-mode: both;
    animation-delay: .75s;
  }
}

.menuitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  justify-content: flex-start;

  opacity: 0;

  width: 100%;
  min-height: 8rem;

  margin: 0 auto;
  color: #313131;

  border-bottom: 1px #f2f2f2 solid;

  .emoji {
    min-width: 130px;
    font-size: 4rem;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;

    @media only screen and (min-width: 1100px) {
      font-size: 7rem;
    }

    span {
      padding-top: 10px;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.25rem 1rem 1.25rem 1rem;
    text-align: left;

    .weekday {
      font-size: 16px;

      @media only screen and (min-width: 1100px) {
        text-align: center;
      }
    }

    .description {
      margin-top: 10px;
      font-size: 28px;
      line-height: 30px;

      p {
        font-family: "Aften Screen Bold";
      }

      @media only screen and (min-width: 1100px) {
        text-align: center;
        padding: 0 20px;
      }
    }
  }

  animation: fadeInUp 1s forwards;

  @media only screen and (min-width: 1100px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 0px;
    height: 250px;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@keyframes fadeInBG {
  from {
    background: #FFF;
  }

  to {
    background: #efdbc4;
  }
}
