.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

  &.fadeOut {
    transition: all 0.5s ease-in;
    opacity: 0;
    visibility: hidden;
  }
}

.icon {
  height: 150px;
  width: 150px;
  display: block;
  background-image: url("../../assets/loader_big.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
	animation: spin 4s linear infinite;
	
	@media (prefers-color-scheme: dark) {
		filter: invert(1);
	}
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
